<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>It's mitch's birf day</title>
		<link rel="stylesheet" type="text/css" href="styles.min.css">
	</head>

	<body>
		
		
		
		<script src="scripts.min.js"></script>
	</body>

</html>
