<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>It's mitch's birf day</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.min.css">
	</head>

	<body class="jumbotron">
		
		<h1>Mitch's Birfday Tweets</h1>
		
		<div id="content">
		</div>
		
		<script src="/scripts/scripts.browser.min.js"></script>
	</body>

</html>
