<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>It's mitch's birf day</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bitter:400,700">
		<link rel="stylesheet" type="text/css" href="/css/styles.min.css">
	</head>

	<body class="jumbotron">
		
		<img id="ribbon" src="/img/header.png" alt="Mitch's birf day tweets"></img>
		
		<div id="content">
			<p class="initial explanation">
				A live feed of all things #mitchsbirfday
			</p>
		</div>
		
		<div id="lastTen" data-json="{{JSON2string last10tweets}}"></div>
		<script src="/scripts/scripts.browser.min.js"></script>
	</body>

</html>
